* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    background-color: #638BFB;
}
button, button:focus {
    outline: none;
    background: transparent;
    border: 1px solid transparent;
}

button:active {
    outline: none;
    background: transparent;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}
::-webkit-resizer {
      height: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#container {
    display: flex;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    text-align: center;
}

#chat {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 8px 3px #88a8ff;
    background-color: #fff;
    border-radius: 25px;
    padding: 10px;
}
#title {
    background-color: #B7CCFF;
    width: 100%;
    height: 7.5%;
    border-radius: 25px 25px 10px 10px;
    margin-bottom: 1.5%;
}
#messages {
    overflow-y: auto;
    width: 100%;
    height: 70%;
    background-color: #88a8ff;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Crete Round', serif;
}
.msg {
    background-color: #88a8ff;
    max-width: 70%;
    text-decoration: left;
    background-color: aliceblue;
    max-width: 70%;
    text-align: left;
    padding: 20px;
    border-radius: 20px;
    display: inline-block;
    box-shadow: 0px 0px 2px #fff;
    position: relative;
}
.myMsg {
    background-color: #B7CCFF;
}
.msg-box-left {
    text-align: left;
    margin-bottom: 10px;
}
.msg-box-right {
    text-align: right;
    margin-bottom: 10px;
}
#messages .icons {
    position: absolute;
    top: 10px;
    right: 10px;
}
#messages .icons i {
    margin-left: 10px;
    cursor: pointer;
}
#messages .fas.fa-heart {
    color: red;
}
.name {
    font-weight: bold;
}
.time {
    text-align: right;
    font-size: 10px;
}

#message-form {
    margin-top: 1.5%;
    background-color: #B7CCFF;
    width: 100%;
    height: 17.5%;
    border-radius: 10px 10px 25px 25px;
    margin-bottom: 10px;
}
#message-form #box {
    padding: 10px; 
}
#box .icons {
    text-align: left;
}
#box .icons i {
    margin-left: 10px;
    cursor: pointer;
}

#message-form textarea {
    width: 66%;
    resize: none;
    float: left;
    height: 63px;
    overflow-y: auto;
    border-radius: 10px;
    margin: 5px;
    text-align: left;
    unicode-bidi: bidi-override;
    direction: ltr;
    line-height: 1em;
    padding: 5px;
}

#box .btn {
    width: 100px;
    margin-top: 10px;
    height: 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 11px #fff;
}

.btn.clear {
    background-color: red;
}
.btn.send {
    background-color: green;
}

.side-box {
    width: 15%;
    height: 50%;
    background-color: white;
    position: relative;
    top: 25%;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: 2px 2px 0px black;
    margin-right: 10px;
    margin-left: 10px;
}



